*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border: 3px solid black;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
}

.answers {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 10px 5px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.controls > button {
  color: red;
  font-size: 1.5rem;
  font-weight: bold;
}

button {
  cursor: pointer;
}
